/*通用样式*/
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #522a06;
    font-family: '宋体';
}

a,a:hover,a:visited,a:link {
    color: #522a06;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: underline;
}
ul, li {
    list-style: none;
}
body{
	background: url(../images/bodybg.gif);
}
#clear{
	clear: both;
}
/*header区域*/
#wrap{
    width: 100%;
}
#header{
    width: 100%;
    height: 250px;
    background-image: url(../images/banner.jpg);
    padding-top: 30px;
    /*padding-left: 10px;*/
   overflow: hidden;
    
}
#top{
    height: 90px;
    width: 20%;
    margin-left: 10px;
    float: left;
}
#wenzi{
    float: right;
    font-size: 90px;
    font-weight: bold;
    font-family: '楷体';
    margin-right: 400px;
    margin-top: 20px;
}
    
#nav{
    height: 40px;
    background: url(../images/f4.jpeg);
    margin-top: 90px;
   }
#nav_body{
    overflow: hidden;   

}
#nav_content
{
    margin-left: 200px;
    padding-bottom: 14px;
    padding-top: 14px;
    float: left;
    width: 65%;
}
#nav #nav_content ul li{
    float: left;
    
    height: 12px;
    line-height: 12px;
    
    margin-right: 20px;
    padding-right: 20px;


}
#nav #nav_content ul li#nav_content1{
    border-right: 1px solid #fff;
}
#nav #nav_content ul li a{
    color: #fff;
    font-weight: bold;
}
#nav #nav_content ul li a:hover{
    color: #f9f603;
    text-decoration: none;
}
#nav #nav_content ul li#first a{
    color: #f9f603;
}
#nav_content1{
    border: 0px  0 ;
}
#nav_search{
    height: 40px;
    line-height: 40px;
    margin: 0px;
    float: left;
    width: 15%;


}
#nav_search1{
    width: 140px;
    height: 19px;
    background: #f8f5ee;

}
#nav_search2{
    width: 44px;
    height: 21px;
    background-color: #000;
    color: #fff;
    border: 1px solid #f8f5ee;
    position: relative;
    right: 6px;
}

/*content区域*/
#content{
    margin: 30px;
}
#content #content_left{
    float: left;
}
#content #left_1{
    width: 280px;
    height: 300px;
    background-image: url(../images/show_bg.png);
    padding:50px 20px;
    background-repeat: no-repeat;
    

}


#content #left_1 div{
    margin-bottom: 5px;
}
#yanzhengma_1{
    /*height: 10px;*/
    background-image: url(../images/yanzhengma.jpg);
    height: 24px;
    width: 250px;
    padding-bottom: 40px;
}
#content #left_1 #caozuo{
    overflow: hidden;
    margin-top: 20px;
    padding-left: 70px;
}
#content #left_1 #denglv{
    float: left;
}
#content #left_1 #zhuce{
    float: left;
    margin-left: 30px;
}
#content #left_2{
    background-image: url(../images/bg7.jpg);
    width: 280px;
    height: 250px;
    padding-left: 10px;
    padding-top: 20px;
}

#content #left_2 #changshi{
    background-image: url(../images/bg2.png);
    height: 30px;
    width: 85px;
    background-repeat: no-repeat;
    color: red;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
   
}
#content #left_2 #changshi_1 ul li{
    list-style-image: url(../images/jing.gif);
    list-style-position: inside;
    line-height: 30px;
    font-size: 20px;
    font-family: '楷体';
    font-weight:bold;
   
}
#content #left_2 #changshi_1 ul li a{
     color: blue;
}

#left_3{
    margin-top: 20px;
    margin-left: 50px;
}

#content_right{
    float: left;
    overflow: hidden;
    width: 70%;
    min-height: 600px;
    margin-left: 10px;
    background-image: url(../images/bgM.jpg);
}
#content_right #right_top{
    overflow: hidden;
    width: 100%;
}
#content_right #right_top #top_1{
    float: left;
    background-image: url(../images/bg18.jpg);
    height: 300px;
    width: 400px;
    background-repeat: no-repeat;
    
   
}
#content_right #right_top #top_1 #gaikuang{
    color: blue;
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 15px;
}
#content_right #right_top #top_1 #jieshao{
    text-indent: 2em;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    color: green;
}

#content_right #right_top #top_2{
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    background-image: url(../images/bg14.jpg);
    height: 353px;
    width: 405px;
    padding: 5px;
}
#right_content {
    background-image: url(../images/bg24.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    padding-top: 100px;
}
#right_content #right_content_1{
    margin-left: 200px;
    height: 200px;
    line-height: 30px;
}
#right_content #right_content_1 a{
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-family: '楷体';
}
#right_bottom{
    margin-top: 10px;
    overflow: hidden;
}

#right_bottom_1{
    float: left;
}
#right_bottom_2{
    float: left;
    background-image: url(../images/news_bg.png);
    height: 243px;
    width: 324px;
    margin-left: 50px;
    padding-top: 20px;

    background-repeat: no-repeat;
}
#right_bottom_2 #a{
    margin-left: 100px;
}
#right_bottom_2 #b ul li{
   line-height: 19px;
   margin-left: 5px;
}
#right_bottom_2 #b ul li a{
    color: red;
    font-weight: bold;
    
}
#right_bottom_2 #b ul li{
    list-style: url(../images/icon_recommend.gif);
    list-style-position: inside;
}
#footer_4{
    background: url(../images/bg3.jpg);
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-top: 20px;
    overflow: hidden;
}
#footer_4_1{
    float:left;

   padding-top: 10px;
   margin-left: 30px;

}

#footer_4_2_bottom span{
    color: red;
    font-size: 30px;
    font-weight: bold;
}
#taizhoufengjing{
    overflow: hidden;
    width: 100%;
    background: url(../images/bg7.jpg);
    margin-top: 10px;
    height: 270px;
    /*margin-left: 30px;*/
    padding-left: 40px;
    padding-top: 2px;
}
#taizhou{
    float: left;
    margin-right: 10px;
}
#qingqu
{
    font-weight: bold;
    font-size: 30px;
    color: blue;
    margin-top: 3px;
    margin-bottom: 10px;
}
#tiantai{
    float: left;
    width: 20%;

    margin-right: 60px;
    color: #000;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
/*footer区域*/
#footer{
    background: url(../images/foot.gif);
    height: 105px;
    margin-top: 30px;
  

}
#footer_1{
    margin-left: 435px;
    margin-top: 70px;
    overflow: hidden;
}
#footer_1 ul li {
    float: left;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 2px solid #000;
    font-weight: bold;
    height: 20px;
    line-height: 20px;

}
#footer_1 ul li#specialic{
    border-right: 0px solid #000;
}
#footer_2{
    padding-left: 450px;
}

#footer_3{
    margin-top: 10px;
    margin-left: 550px;
}